footer {
  padding: 10px 10px 0 10px;
  margin-top: 15px;
  margin-bottom: 0px;
  background-color: gainsboro;
}
.card-hotel {
  flex: 1 250px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
}
.jumbotron {
  margin-top: 50px;
  background-color: #960505;
}
