@red: #960505;

.margenes (@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

footer {
    padding: 10px 10px 0 10px;
    .margenes( 15px,0px );
    background-color: gainsboro; 
}
  
.card-hotel {
flex: 1 250px;
padding: 2px 5px 2px 5px;
.margenes( 10px,0px );
}

.btn-reserva {
width: 100%; 
}

.jumbotron {
margin-top: 50px;
background-color:@red; 
}