$red: #a55050;
$green: #15b100;
$yellow:#fad400;
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
footer {
    padding: 10px 10px 0 10px;
    @include margenes( 15px,0px );
    background-color: gainsboro;
}
.card-hotel{
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
    @include margenes( 10px,0px );
}
.btn-reserva{
    width: 100%;
}
.jumbotron {
    margin-top: 50px;
    background-color: $black;
}